.content{
  margin-top:60px;
  margin-left:15px;
}
.btn{
  margin-left:5px;
}

.user-content-form{
  margin-right: 10px;
  margin-left: 10px;
}

.add-user-btn{
  position: sticky;
  margin-top: 25px;
}
#dropdownBasic1{
  width: 100%;
}