<div class="card">
  <div class="card-body row">
    <div class="col-md-8">
      <h5 class="card-title">{{apartment.name}}</h5>
      <p class="card-text">{{apartment.description}}</p>
    </div>
    <div class="col-md-4">
      <h4><span class="badge badge-success">{{apartment.price|currency}}</span></h4>
      <h6><span class="badge rounded-pill bg-primary text-light">Rooms {{apartment.rooms}}</span></h6>
      <h6><span class="badge rounded-pill bg-primary text-light">Size {{apartment.size}}</span></h6>
    </div>
  </div>
</div>